<div>
    <h1>Star Wars universe Planets</h1>
</div>
<div id="filter_buttons">
    <p>
    <button class="btn btn-primary" id="button_previous" type="submit">Previous</button>
    <button class="btn btn-primary" id="button_next" type="submit">Next</button>
    </p>
    <div id="ship" style="position:absolute; top: 150px; right: 300px">
        <img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/original_images/On_my_way.gif" alt="On my way.gif">
    </div>
</div>
<div id="planets_table">
    <table id="planets_table" class="table table-bordered">
      <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Diameter</th>
            <th scope="col">Climate</th>
            <th scope="col">Terrain</th>
            <th scope="col">Surface water percentage</th>
            <th scope="col">Population</th>
            <th scope="col">Residents</th>
            <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
</div>